<input type="hidden" #selection value={{selected}}>
<div class="container" role="main">
  <div class="row">
    <div class="form-area" *ngIf="selection.value === 'app-root'">
      <h2>Main Menu</h2>
      <p>Main menu for User Manager App</p>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="select('app-table-user-account');" tabindex="0"><span>User Accounts</span></button>
        <button class="btn btn-primary" (click)="select('app-table-user-message');" tabindex="1"><span>User Messages</span></button>
      </div>
    </div>
    <app-table-user-account (sendNotification)="getNotification($event)" *ngIf="selection.value === 'app-table-user-account'"></app-table-user-account>
    <app-table-user-message (sendNotification)="getNotification($event)" *ngIf="selection.value === 'app-table-user-message'"></app-table-user-message>
  </div>
<router-outlet></router-outlet>
