<input type="hidden" #selection value={{selected}}>
<div class="form-area" *ngIf="selection.value==='none'; else elseBlock">
    <h2>User Accounts</h2>
    <p>User account table</p>
    <div class="btn-group" id='table-user-account-menu'>
        <button class="btn btn-primary" (click)="select(undefined)" tabindex="0"><span>Add User Account</span></button>
        <button class="btn btn-primary" (click)="refresh()" tabindex="1"><span>Refresh Data</span></button>
        <button class="btn btn-secondary" (click)="close()" tabindex="2"><span>Close</span></button>
    </div>
    <!-- TOAST! -->
    <div style="position: absolute; bottom: 0; right: 0;">
        <div class="container">
          <ngb-toast *ngIf="showMessage" [autohide]="true" id="message" name="message" (hidden)="showMessage=false" (click)="showMessage=false">{{message}}</ngb-toast>
          <br/>
        </div>
    </div>
    <div id='table-user-account-table'>
        <br>
        <table class="table table-striped">
            <thead class="thead-ligth">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">first name</th>
                    <th scope="col">last name</th>
                    <th scope="col">active</th>
                    <th scope="col">edit</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of data">
                    <th scope="row">{{record.id}}</th>
                    <td>{{record.firstName}}</td>
                    <td>{{record.lastName}}</td>
                    <td>
                        <input type="checkbox" class="form-check-input" id="active" name="active" [checked]="record.active" disabled readonly>
                    </td>
                    <td><button class="btn btn-primary" (click)="select(record.id);" id="{{record.id}}"><span>edit</span></button></td>
                    <td><button class="btn btn-secondary" (click)="delete(record.id!);" id="{{record.id}}"><span>delete</span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #elseBlock>
    <app-form-user-account [id]="selection.value" (sendNotification)="getNotification($event)"></app-form-user-account>
</ng-template>

